@{
    Layout = "_WelcomeLayout.cshtml";
}
<div class="UI creamText" style="margin: auto; width: 450px;">
    <h1>Your email has been confirme</h1>
    <p>Click <a href="/Home/Index">here</a> to return to the landing page and log in</p>
</div>