@{ 
    Layout = "_WelcomeLayout.cshtml";
}
<div class="UI creamText" style="margin: auto; width: 450px;">
    <h1>A confirmation email has been sent</h1>
    <p>Check your inbox, or click <a href="/Home/Index">here</a> to return to the landing page</p>
</div>