@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="creamText UI questionBlock">What does this site do?</h2>
<p class="creamText">This site is meant to allow users to enter a hypnotic trance, based on prompts (referred to as Mesmers on the site) created by other users.</p>

<h2 class="creamText UI questionBlock">Is this snake oil?</h2>
<p class="creamText">That is hard to say!  As indicated in the disclaimers, this should absolutely not be considered medically relevant with any appreciable confidence.  I am a software developer that has been hypnotized by stage magicians a few times, and have had success recreating the feeling using the animation and prompts on the site.</p>

<h2 class="creamText UI questionBlock">What is it supposed to be like?</h2>
<p class="creamText">You know when you're stuck to your chair?  You aren't paralyzed, your body works, but mentally you cannot bring yourself to move from your spot and stand up.  Hypnosis (in my experience) is a lot like that, but you accept it, so it's a lot more enjoyable.</p>

<h2 class="creamText UI questionBlock">What would be prohibited as a prompt on the site?</h2>
<p class="creamText">All content is expected be safe for work.  No profanity, sexual content, violent content, bigotry of any kind, or anything that could be considered alarming to someone who is trying to relax, at my discretion.</p>

<h2 class="creamText UI questionBlock">Do you have any tips as to how to enter a trance?</h2>
<p class="creamText">Find a comfortable position, away from distractions.  Don't try to force the effect - allow the induction to guide the process, and simply trust that it produces the desired effect.  Remember: there is no penalty for failure, so simply try to have fun with it.</p>